// Screen sizes
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1400px;

// Colors
$purple: #7a1edd;
$grey: #fafafa;
$blackBasic: #000000;
$whiteBasic: #ffffff;
$black24: #242a30;
$background: #f4f4f4;
$grey3c: #3c4651;
$greyf3: #f3f3f3;
$redc3: #c32700;
$green06: #06b04d;
$greyc4: #c4c4c4;
